@import '../App/vars';

.message{
    background-color: white;
    width: 462px;
    border-radius: 7px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
    margin-bottom: 20px;
    padding: 20px;
    color: red;

}
.ticket{
    background-color: white;
    width: 502px;
    height: 184px;
    border-radius: 7px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
    margin-bottom: 20px;

    @media (max-width: 800px) {
        width: 90%
    }
    .ticket__header{
        display: flex;
        justify-content: space-between;
        padding: 20px;

        .ticket__price{
            color: $color-blue;
            font-size: 24px;
            font-weight: 600;
            line-height: 24px;
        }
    }

    .ticket__main{
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;

        .ticket__row{
            display: flex;

            .ticket__content{
                display: flex;
                margin-right: auto;
                flex-direction: column;
                margin-bottom: 10px;
                width: 120px;
            }
            .ticket__content span:first-child{
                color: $color-grey;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 600;
                line-height: 18px;
            }
            .ticket__content span:last-child{
                color: $colortext;
                font-size: 14px;
                font-weight: 600;
                line-height: 21px;
            }
        }

    }
}