@import '../App/vars';

.message{
    background-color: white;
    width: 462px;
    border-radius: 7px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
    margin-bottom: 20px;
    padding: 20px;
    color: red;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
    color: white;
    background-color: $color-blue;
    text-transform: uppercase;
    border-radius: 7px;
    border: none;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 20px;
    margin-bottom: 20px;
}